<mat-form-field>
  <mat-select placeholder="Country">
    <mat-option *ngFor="let c of keys(countries)" [value]="c">
      {{ c.name }}
    </mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field>
  <mat-select placeholder="Language">
    <mat-option *ngFor="let l of keys(languages)" [value]="l">
      {{ languages[l].name }}
    </mat-option>
  </mat-select>
</mat-form-field>
